langchain-google-genai==2.0.11
langgraph==0.3.8
flask==3.1.0
python-dotenv==1.0.1
langchain-groq==0.2.5
flask-cors==5.0.1
pandas==2.2.3
crewai==0.105.0

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
